.imageDocument{
    background-image: url(../../../../assets/images/updocument.png);
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
}

.imageLink{
    background-image: url(../../../../assets/images/uplink.png);
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
}