<div class="row">
    <div class="col-md-6 text-center">
        <label><h1><strong>Sugerir Documento</strong></h1></label>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="imageDocument" [routerLink]="['/documents/add-documents']"></div>
            </div>
            <div class="col-md-2"></div>    
        </div>
    </div>
    <div class="col-md-6 text-center">
        <label><h1><strong>Sugerir Enlace</strong></h1></label>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="imageLink" [routerLink]="['/documents/add-document-link']"></div>
            </div>
            <div class="col-md-2"></div>    
        </div>
    </div>
</div>
<div class="pt-5" style="text-align: center;">
   <label><strong>Aporta subiendo contenido SRAA para que creezca la comunidad y pueda ayudar a mas gente</strong></label> 
</div>