nb-card {
    margin-bottom: 0px;
    height: 100%;
  }
  
  .auth-block {
    padding-top: 8%;
    display: block;
    max-width: 35rem;
    margin: auto;
  }
  
  .action-Link {
    cursor: pointer;
    text-decoration: none;
  }
  