<div class="row" style="padding-top: 5%;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <nb-card [nbSpinner]="isLoading" nbSpinnerMessage="Loading...">
            <nb-card-header>
                <h1><strong>Editar Perfil</strong></h1>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="userEditorForm" (ngSubmit)="addUser()" >
                    <label class="font-italic mb-3">Los campos marcados con * son obligatorios.</label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Nombre*</strong></label>
                                <input type="text" class="form-control" placeholder="Nombre"
                                    formControlName="firstName">
                            </div>
                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                class="alert text-danger">
                                <div *ngIf="firstName.errors.required">
                                    El nombre es requerido.
                                </div>
                                <div *ngIf="firstName.errors.maxlength">
                                    El nombre debe contener maximo 100 caracteres.
                                </div>
                                <div *ngIf="firstName.errors.minlength">
                                    El nombre de contener al menos 3 caracteres.
                                </div>
                                <div *ngIf="firstName.errors.pattern">
                                    El nombre solo puede contener letras.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Apellido*</strong></label>
                                <input type="text" class="form-control" placeholder="Apellido"
                                    formControlName="lastName">
                            </div>
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                class="alert text-danger">
                                <div *ngIf="lastName.errors.required">
                                    El apellido es requerido.
                                </div>
                                <div *ngIf="lastName.errors.maxlength">
                                    El apellido debe contener maximo 100 caracteres.
                                </div>
                                <div *ngIf="lastName.errors.minlength">
                                    El apellido de contener al menos 3 caracteres.
                                </div>
                                <div *ngIf="lastName.errors.pattern">
                                    El apellido solo puede contener letras.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Nombre de usario publico*</strong></label>
                                <input type="text" class="form-control" placeholder="Nick Name"
                                    formControlName="givenName">
                            </div>
                            <div *ngIf="givenName.invalid && (givenName.dirty || givenName.touched)"
                                class="alert text-danger">
                                <div *ngIf="givenName.errors.required">
                                    El usuario es requerido.
                                </div>
                                <div *ngIf="givenName.errors.maxlength">
                                    El usuario debe contener maximo 100 caracteres.
                                </div>
                                <div *ngIf="givenName.errors.minlength">
                                    El usuario de contener al menos 3 caracteres.
                                </div>
                                <div *ngIf="givenName.errors.pattern">
                                    El usuario solo puede contener letras.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send">
                        <button type="submit" [disabled]="!userEditorForm.valid"
                            class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>